.title {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.titleButton {
    color: white;
    border: none;
    background-color: rgb(20, 20, 231);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.header > div {
    width: 250px;
    text-align: start;
    font-weight: bold;
}

.reportItem {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid silver;
}

.reportItem > div {
    width: 250px;
    text-align: start;
}

.reportItem:hover {
    background-color: #2c2c2c;
}

.itemButtons button {
    font-size: 14px;
    padding: 7px;
    border-radius: 3px;
    background-color: #fdc02e;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.itemButtons button:last-of-type {
    background-color: #d93749;
    color: white;
}

.itemList {
    margin: 10px 0;
}

.addButton {
    background-color: #30a54a;
}

.addButton:hover {
    background-color: #298b3e !important; 
}

.addInput {
    margin: 0 5px;
    padding: 5px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    width: 120px;
    background-color: #30a54a;
}

.addInput:hover {
    background-color: #298b3e;
}

.addFileContainer {
    display: flex;
}

.filterBtn {
    height: 55px;
}