.home {
    margin: 5%;
    margin-bottom: 10%;
}

.title {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.titleButton {
    color: white;
    border: none;
    background-color: rgb(20, 20, 231);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.header > div {
    width: 250px;
    text-align: start;
    font-weight: bold;
}

.reportItem {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid silver;
}

.reportItem > div {
    width: 250px;
    text-align: start;
}

.reportItem:hover {
    background-color: #2c2c2c;
}

.itemButtons button {
    font-size: 14px;
    padding: 7px;
    border-radius: 3px;
    background-color: #fdc02e;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.itemButtons button:last-of-type {
    background-color: #d93749;
    color: white;
}

.itemList {
    margin: 10px 0;
}

.addButton {
    background-color: #30a54a;
}

.addButton:hover {
    background-color: #298b3e !important; 
}

.addInput {
    margin: 0 5px;
    padding: 5px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    width: 120px;
    background-color: #30a54a;
}

.addInput:hover {
    background-color: #298b3e;
}

.addFileContainer {
    display: flex;
}

.filterBtn {
    height: 55px;
}

@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root {
  --main-white-color: #f2f2f2;
  --main-black-color: black;
  --main-purple-color: #9e89b8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: 16px/1.5 "Dosis", sans-serif;
  /*IE FIX*/
  /*display: flex;
  flex-direction: column;*/
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 350px;
  background: var(--main-purple-color)
    url('https://www.clipartmax.com/png/middle/172-1725628_autism-pantry-program-life-save-icon-png.png') no-repeat
    center / cover;
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}

.page-main div {
  max-width: 500px;
}

.page-main h1 {
  margin-bottom: 20px;
}

.page-main p + p {
  margin-top: 10px;
}
