html, body{
  height: 100vh;
  background: #313030;
  color: white;
}

.App {
  height: 100vh;
}

.Header{
  background: #1e1d1d;
  color: white;
}
.Dashboard {
  text-align: center;
  margin: 5%;
  margin-bottom: 10%;
}
.Footer{
  background: #1e1d1d;
  color: white;
  margin-bottom: 0;
}

.modal-container {
  color: #000;
}

.modal-date {
  display: flex;
  justify-content: space-between;
}
